@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Style reset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
}

html,
body {
	width: 100vw;
	overflow-x: hidden;
	font-family: 'Kumbh Sans';
}

/* VARIABLES */

:root {
	--orange: 26, 100%, 55%;
	--pale-orange: 25, 100%, 94%;
	--very-dark-blue: 220, 13%, 13%;
	--dark-grayish-blue: 219, 9%, 45%;
	--grayish-blue: 220, 14%, 75%;
	--light-grayish-blue: 223, 64%, 98%;
	--white: 0, 0%, 100%;
	--black: 0, 0%, 0%;
	--base-font-weight: 400;
	--bold-font-weight: 700;
}

/* UTILITIES */

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hidden {
	display: none;
}

/* HEADER */

header {
	display: flex;
	height: 8vh;
	padding-inline: 1rem;
}

.logo {
	width: 40vw;
	height: 2rem;
	object-fit: contain;
	margin-top: -2px;
	margin-left: 1rem;
}

.mt {
	margin-top: 5px;
}

.right {
	margin-left: auto;
}

.avatar {
	height: 2rem;
	margin-inline: 1rem;
}

/* NAVBAR */

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 75vw;
	height: 100vh;
	background-color: hsl(var(--white));
	z-index: 10;
	transform: translateX(-100%);
}

nav ul {
	list-style: none;
	font-weight: var(--bold-font-weight);
	font-size: large;
	color: hsl(var(--very-dark-blue));
	padding-inline: 1.5rem;
	margin-top: 8vh;
}

nav ul li {
	margin-block: 1.2rem;
}

.close-icon {
	margin-top: 1.2rem;
	margin-left: 1.5rem;
}

/* MAIN */
