@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Style reset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
}

html,
body {
	width: 100vw;
	overflow-x: hidden;
	font-family: 'Kumbh Sans';
}

:root::-webkit-scrollbar {
	display: none;
}

/* VARIABLES */

:root {
	--orange: 26 100% 55%;
	--pale-orange: 25 100% 94%;
	--very-dark-blue: 220 13% 13%;
	--dark-grayish-blue: 219 9% 45%;
	--grayish-blue: 220 14% 75%;
	--light-grayish-blue: 223 64% 98%;
	--white: 0 0% 100%;
	--black: 0 0% 0%;
	--base-font-weight: 400;
	--bold-font-weight: 700;
}

/* UTILITIES */

button {
	cursor: pointer;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hidden {
	display: none;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 30;
	pointer-events: none;
	transition: background-color 200ms ease-in-out;
}

.faded {
	background-color: hsl(var(--black) / 0.75);
	pointer-events: all;
}

/* HEADER */

header {
	display: flex;
	height: 10vh;
	padding-inline: 1.5rem;
}

.logo {
	width: 40vw;
	height: 2rem;
	object-fit: contain;
	margin-top: -2px;
	margin-left: 1rem;
}

.mt {
	margin-top: 5px;
}

.right {
	margin-left: auto;
}

.avatar {
	height: 2rem;
	margin-left: 1rem;
}

/* NAVBAR */

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 75vw;
	height: 100vh;
	background-color: hsl(var(--white));
	z-index: 30;
	transform: translateX(-100%);
	transition: transform 300ms ease-in-out;
}

nav.open {
	transform: translateX(0);
}

nav ul {
	list-style: none;
	font-weight: var(--bold-font-weight);
	font-size: large;
	color: hsl(var(--very-dark-blue));
	padding-inline: 1.5rem;
	margin-top: 8vh;
}

nav ul li {
	margin-block: 1.2rem;
}

#close-btn {
	margin-top: 1.5rem;
	margin-left: 1.5rem;
}

/* MAIN */

.carousel-container {
	position: relative;
}

.image-carousel {
	display: flex;
	position: relative;
	height: 50vh;
	overflow-y: hidden;
	width: max-content;
	transform: translateX(-100vw);
	transition: transform 300ms ease-in-out;
}

.image-carousel::-webkit-scrollbar {
	display: none;
}

.image-container img {
	width: 100vw;
}

.arrow-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 2.5rem;
	width: 2.5rem;
	background-color: hsl(var(--white) / 0.8);
	border-radius: 50%;
	z-index: 10;
}

.arrow-container img {
	height: 0.8rem;
	width: 0.7rem;
	opacity: 0.95;
}

.arrow-container.arrow-left {
	left: 1rem;
}

.arrow-container.arrow-left img {
	margin-left: -8%;
}

.arrow-container.arrow-right {
	right: 1rem;
}

.arrow-container.arrow-right img {
	margin-right: -8%;
}

/* CONTENT */

.content {
	margin-block: 0.5rem;
	padding: 1.5rem;
}

/* DESCRIPTION */

.description h3 {
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing: 2px;
	color: hsl(var(--orange));
}

.description h1 {
	color: hsl(var(--very-dark-blue));
	margin-block: 1rem;
}

.description p {
	font-size: 1rem;
	line-height: 1.5rem;
	color: hsl(var(--dark-grayish-blue));
}

/* PRICING */

.pricing-container {
	margin-block: 1rem;
}

.pricing {
	display: flex;
	align-items: center;
}

.pricing h1 {
	color: hsl(var(--very-dark-blue));
}

.pricing .discount {
	margin-inline: 1rem;
	padding: 0.3rem 0.5rem;
	background-color: hsl(var(--pale-orange));
	color: hsl(var(--orange));
	font-weight: var(--bold-font-weight);
	border-radius: 0.5rem;
	font-size: 1.1rem;
}

.pricing .strikeout {
	margin-left: auto;
	font-size: 1.1rem;
	text-decoration: line-through;
	color: hsl(var(--dark-grayish-blue));
	font-weight: var(--bold-font-weight);
}

/* QUANTITY */

.quantity-container {
	margin-block: 1rem;
	padding: 1rem 1.5rem;
	display: flex;
	background-color: hsl(var(--light-grayish-blue));
	justify-content: space-between;
	border-radius: 0.5rem;
}

.quantity-container .icon {
	width: 0.8rem;
}

.quantity-container p {
	font-size: 1.1rem;
	font-weight: var(--bold-font-weight);
}

.add-btn {
	width: 100%;
	font-size: 1.1rem;
	padding: 1rem 1.5rem;
	background-color: hsl(var(--orange));
	border-radius: 0.5rem;
	color: hsl(var(--white));
	font-weight: var(--bold-font-weight);
	box-shadow: 0 10px 30px hsl(var(--orange) / 0.8);
}

.add-btn img {
	margin-inline: 0.8rem;
	height: 1rem;
}

/* FOOTER */

footer {
	font-size: 0.7rem;
	text-align: center;
	margin-block: 0.5rem;
}

footer a {
	color: hsl(var(--orange));
}

/* BASKET */

.basket {
	position: absolute;
	width: 90vw;
	height: 40vh;
	background-color: white;
	top: 10vh;
	margin: 3vh 5vw;
	z-index: 40;
	border-radius: 1rem;
	display: none;
	flex-direction: column;
}

.basket-header {
	padding: 1rem;
	font-weight: var(--bold-font-weight);
	border-bottom: 1px solid hsl(var(--dark-grayish-blue));
}

.basket-content {
	flex-grow: 1;
}

.basket-empty {
	font-weight: var(--bold-font-weight);
	color: hsl(var(--dark-grayish-blue));
}
